<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <script th:inline="javascript">
        $(document).ready(function(){
            calculateTotalPrice();

            $("#count").change( function() {
                calculateTotalPrice();
            });

            var $shopMenu = $('#shopMenu');
            if ($shopMenu.length) {
                var offset = $shopMenu.offset();

                $(window).scroll(function() {
                    if ($(window).scrollTop() > offset.top) {
                        $shopMenu.addClass('sticky').css('left', offset.left + 'px');
                    } else {
                        $shopMenu.removeClass('sticky').css('left', '');
                    }
                });
            }
        });

        function calculateTotalPrice() {
            let count = $("#count").val();
            let price = $("#price").val();
            let totalPrice = price * count;
            $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            if (token && header) {
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    beforeSend: function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,
                    success: function(result, status){
                        alert("주문이 완료 되었습니다.");
                        location.href='/';
                    },
                    error: function(jqXHR, status, error){
                        if(jqXHR.status == '401'){
                            alert('로그인 후 이용해주세요');
                            location.href='/members/login';
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }
        }

        function addCart() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId: $("#itemId").val(),
                count: $("#count").val()
            };

            var param = JSON.stringify(paramData);

            if (token && header) {
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,
                    success: function(result, status) {
                        alert("상품이 장바구니에 담겼습니다.");
                        location.href='/';
                    },
                    error: function(jqXHR, status, error) {
                        if(jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/member/login';
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }
        }
    </script>
</head>
<th:block layout:fragment="content">
    <div class="wrap item_dtl">
        <section class="item_form">
            <input type="hidden" id="itemId" th:value="${item.id}">
            <div class="item_menu_wrap">
                <div class="item_detail_wrap w-80">
                    <div class="detail_main">
                        <div class="reqImgDiv">
                            <img th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${item.itemNm}">
                        </div>
                        <div class="wd50">
                        <span th:if="${item.itemSellStatus == T(jpastore.jpaticket.domain.ItemSellStatus).SELL}"
                              class="badge badge-primary mgb-15">판매중</span>
                            <span th:unless="${item.itemSellStatus == T(jpastore.jpaticket.domain.ItemSellStatus).SELL}"
                                  class="badge btn-danger mgb-15">품절</span>
                            <div class="h4 text-title" th:text="${item.itemNm}"></div>

                            <div class="text-right">
                                <div class="h4 text-danger text-left">
                                    <input type="hidden" th:value="${item.price}" id="price" name="price">
                                    <span class="price" th:text="${item.price}"></span>원
                                </div>
                                <hr class="my-4">
                                <div class="input-group w-50">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">수량</span>
                                    </div>
                                    <input type="number" name="count" id="count" class="form-control" value="1" min="1" max="9999">
                                </div>
                            </div>
                            <hr class="my-4">

                            <div class="text-right mgt-50">
                                <h5>결제 금액</h5>
                                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                            </div>
                            <div th:if="${item.itemSellStatus == T(jpastore.jpaticket.domain.ItemSellStatus).SELL}"
                                 class="text-right">
                                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                                <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
                            </div>
                            <div th:unless="${item.itemSellStatus == T(jpastore.jpaticket.domain.ItemSellStatus).SELL}"
                                 class="text-right">
                                <button type="button" class="btn btn-danger btn-lg">품절</button>
                            </div>
                        </div>
                    </div>
                    <div class="jumbotron jumbotron-fluid mgt-30">
                        <div class="container">
                            <h4 class="display-5">상품 상세 설명</h4>
                            <hr class="my-4">
                            <p class="lead" th:text="${item.itemDetail}"></p>
                        </div>
                    </div>
                    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
                        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15"
                             width="800">
                    </div>
                </div>
                <div class="shop_menu" id="shopMenu">
                    <ul>
                        <li>QUICK<br><b>MENU</b></li>
                        <li>
                            <a th:href="@{/orders}">
                                <img th:src="@{/img/box_icon.png}" alt="박스아이콘">
                                <span>예매목록</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/cart}">
                                <img th:src="@{/img/bag_icon.png}" alt="장바구니">
                                <span>장바구니</span>
                            </a>
                        </li>
                        <li>CS센터<br><b>1234-5678</b></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>
