<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<th:block layout:fragment="content">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="margin: 25vh 0;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script layout=fragment="script" th:inline="javascript" th:src="@{/js/get_game_list.js}"></script>
</th:block>
