<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

        <title>LCK티켓 예매 사이트</title>

        <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <th:block layout:fragment="css"></th:block>

        <script th:src="@{/js/jquery-3.7.1.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.js}"></script>

        <th:block layout:fragment="script"></th:block>
    </head>

    <th:block th:replace="~{header :: headerFrag}"></th:block>

    <body>
        <th:block layout:fragment="content"></th:block>
        <th:block layout:fragment="script2"></th:block>
    </body>

    <th:block th:replace="~{footer :: footerFrag}"></th:block>
</html>
